.collapsible {
  &-accordion {
    overflow: hidden;
  }

  &-input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked {
      + .collapsible-item-label {
        &::after {
          transform: rotate(180deg);
        }
      }

      ~ .collapsible-item-content {
        max-height: 100vh;
        padding: 15px 0;
        transition: all ease 300ms;
        border-bottom: 1px solid rgba(221, 224, 235, 0.25);

        &:last-child {
          margin-bottom: 32px;
        }
      }
    }
  }

  &-item {
    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 32px;

      @include onTablet {
        font-size: 20px;
        margin-bottom: 15px;
      }

      &::after {
        content: "";
        background: url(../images/icons/chevron-down.svg) center / cover no-repeat;
        transform: rotate(0deg);
        width: 24px;
        height: 24px;
        text-align: center;
        transition: all ease 300ms;
      }
    }

    &-content {
      max-height: 0;
      padding: 0;
      transition: all 0.35s;
      border-bottom: none;

      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #fff;

      @include onTablet {
        font-size: 15px;
      }
    }
  }
}
