.burger-menu {
  display: none;
  width: 30px;
  cursor: pointer;
  transition: transform 300ms;

  &:hover {
    transform: scale(106%);
  }

  @include onTablet {
    display: block;
  }
}
