.format-card {
  background: #28292e;
  border-radius: 16px;
  padding: 24px;
  color: #fff;

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 48px;

    @include onTablet {
      gap: 0;
      margin-bottom: 24px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 25px;
    }
  }

  &__detail {
    @include onTablet {
      width: 50%;
      margin-bottom: 10px;
    }
  }

  &__detail-key {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #a7a7ac;
    margin-bottom: 5px;

    @include onTablet {
      font-size: 17px;
    }
  }

  &__detail-value {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include onTablet {
      font-size: 17px;
    }
  }

  &__payment {
    @include onTablet {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
  
    @include onTablet {
      width: 100%;
      flex-direction: row;
      margin-top: 0;
    }

    @include onPhone {
      flex-direction: column;
      gap: 12px;
    }
  
    & > button {
      width: 100%;
    }
  }
}
