.payment {
  width: fit-content;
  padding: 24px;
  background: #3E3F44;
  border-radius: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;

  &__amount {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-right: 4px;
  }

  &__currency {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
