.status {
  height: 24px;
  padding: 4.5px 32px 4.5px 8px;
  background: url(../images/radio.svg) right 8px top 4px no-repeat rgba(255, 153, 153, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FF4444;
}
