.about {
  padding: 0 170px 81px;

  @include onTablet {
    padding: 0 35px 41px;
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 35px;
      text-align: center;
    }
  }

  &__description {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #a7a7ac;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 18px;
    }
  }

  &__video {
    display: block;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 16px;

    @include onTablet {
      aspect-ratio: 16 / 9;
      height: auto;
    }
  }

  &__suggestion {
    position: relative;
    padding-left: 24px;
    font-family: TroubleSide, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #a8b3c1;

    @include onTablet {
      font-size: 15px;
      padding-left: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -70px;
      left: -53px;
      background: url(../images/sketch-arrow.svg);
      width: 70px;
      height: 100px;

      @include onTablet {
        background-size: 50px;
        background-repeat: no-repeat;
        top: -50px;
        left: -35px;
      }
    }
  }
}
