.header {
  height: 100vh;
  position: relative;
  z-index: 3;

  &__panel {
    background: rgba(17, 18, 23, 0.5);
    backdrop-filter: blur(4px);
  }

  &__panel-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 60px;
    padding: 0 52px;

    @include onTablet {
      padding: 0 15px;
    }
  }

  &__banner {
    position: relative;
    height: 90%;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      padding-left: 0;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__menu {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__navigation {
    height: 100%;

    @include onTablet {
      display: none;
    }
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__phone {
    height: 100%;
    display: flex;
    align-items: center;

    @include onTablet {
      display: none;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }

  &__info {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    max-width: 571px;

    @include onTablet {
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #fff;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 50px;
      text-align: center;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #a8b3c1;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 18px;
    }
  }
}
