.structure {
  background-color: #fff;

  &__content {
    padding: 120px 52px;

    @include onTablet {
      padding: 60px 25px;
    }
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #1d1d1f;

    @include onTablet {
      font-size: 35px;
      text-align: center;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    margin: 111px auto 0;

    @include onTablet {
      margin-top: 50px;
    }
  }
}
