.type {
  background-color: #000;

  &__content {
    padding: 120px 52px;
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    margin-bottom: 96px;
  }

  &__format-card {
    margin-bottom: 48px;
  }
}
